.text-lighter {
    color: var(--color-text-lighter);
}

.text-lightest {
    color: var(--color-text-lightest);
}

.text-danger {
    color: var(--color-danger) !important;
}

.bg-success {
    background-color: var(--color-success) !important;
}

.bg-danger {
    background-color: var(--color-danger) !important;
}

.bg-secondary {
    background-color: var(--color-text-lightest) !important;
}
