@import 'bootstrap/scss/bootstrap';

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    place-items: center;
    min-height: 100vh;
}

.dropzone {
    width: 100%;
    min-height: 80px;
    background-color: #fafafa;
    color: #444;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px dashed #aaa;
    border-radius: 8px;
    cursor: pointer;
}